flows/openeew-sensorplot.json
[
    {
        "id": "e856e9c1.0524c8",
        "type": "tab",
        "label": "Plot Seismic Activity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8048369b.45cb68",
        "type": "group",
        "z": "e856e9c1.0524c8",
        "name": "Select an OpenEEW Sensor Network sensor to plot",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "ef212691.5d0228",
            "bdf6268f.4e841",
            "ca8974a0.11e69",
            "acd6904b.2dae3",
            "2ae89955.cc41e6",
            "cfc16094.46cac",
            "29d27bdb.5634bc",
            "87c3ebdc.9b617",
            "74a17c81.c71084",
            "dda2f005.20608",
            "d0968cb6.5cf5d8",
            "b486ec08.7786d8"
        ],
        "x": 14,
        "y": 159,
        "w": 1352,
        "h": 182
    },
    {
        "id": "8601e458.9e3b18",
        "type": "group",
        "z": "e856e9c1.0524c8",
        "name": "Plot selected real-time sensor data ",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "f302715f.39e6e",
            "8c7a5e60.a4f4e",
            "cc01942f.9ae418",
            "6bc83f46.58cd",
            "63ef1939.f883d8",
            "5ae34de6.5db9b4",
            "881d61e3.1e554",
            "1b29c14f.61c39f",
            "a75c9e6a.ef4758",
            "51d560af.0a4f1",
            "288ce970.5525e6",
            "128ccc92.5b0fab",
            "f2dc663f.1ba9b",
            "a9690ee1.136aa",
            "cb7e8e0b.94b308",
            "9239cd5b.9b03b8",
            "eda9cf37.ed9908",
            "77ab4383.5d2104"
        ],
        "x": 14,
        "y": 359,
        "w": 1352,
        "h": 242
    },
    {
        "id": "a3047255.3433d",
        "type": "group",
        "z": "e856e9c1.0524c8",
        "name": "Enable / Disable Seismic Sensor Charts",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "262e1b80.5442a4",
            "cb7d5d5d.95be18",
            "641c6b50.77a6bc"
        ],
        "x": 14,
        "y": 59,
        "w": 712,
        "h": 82
    },
    {
        "id": "f302715f.39e6e",
        "type": "mqtt in",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "topic": "grillo-openeew/traces/+",
        "qos": "0",
        "datatype": "json",
        "broker": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "288ce970.5525e6"
            ]
        ]
    },
    {
        "id": "8c7a5e60.a4f4e",
        "type": "ui_chart",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "group": "e920ac54.26bcf8",
        "order": 0,
        "width": "14",
        "height": "5",
        "label": "X",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1.0",
        "ymax": "1.0",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "cc01942f.9ae418",
        "type": "debug",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "6bc83f46.58cd",
        "type": "ui_chart",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "group": "e920ac54.26bcf8",
        "order": 0,
        "width": "14",
        "height": "5",
        "label": "Y",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "63ef1939.f883d8",
        "type": "ui_chart",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "group": "e920ac54.26bcf8",
        "order": 0,
        "width": "14",
        "height": "5",
        "label": "Z",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1.0",
        "ymax": "1.0",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1290,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae34de6.5db9b4",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.traces[0].x",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "a75c9e6a.ef4758"
            ]
        ]
    },
    {
        "id": "881d61e3.1e554",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.traces[0].y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "128ccc92.5b0fab"
            ]
        ]
    },
    {
        "id": "1b29c14f.61c39f",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.traces[0].z",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "f2dc663f.1ba9b"
            ]
        ]
    },
    {
        "id": "a75c9e6a.ef4758",
        "type": "split",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 930,
        "y": 440,
        "wires": [
            [
                "9239cd5b.9b03b8"
            ]
        ]
    },
    {
        "id": "51d560af.0a4f1",
        "type": "switch",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "Filter on Selected Sensor",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SelectedSensor",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "5ae34de6.5db9b4",
                "881d61e3.1e554",
                "1b29c14f.61c39f",
                "cc01942f.9ae418"
            ]
        ]
    },
    {
        "id": "ef212691.5d0228",
        "type": "ui_table",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "group": "dedf708b.15aeb8",
        "name": "",
        "order": 3,
        "width": "10",
        "height": "12",
        "columns": [
            {
                "field": "device_id",
                "title": "Devices",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "lat",
                "title": "Latitude",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "lon",
                "title": "Longitude",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "location",
                "title": "Location",
                "width": "40%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "bdf6268f.4e841",
                "74a17c81.c71084"
            ]
        ]
    },
    {
        "id": "bdf6268f.4e841",
        "type": "debug",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca8974a0.11e69",
        "type": "csv",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ef212691.5d0228"
            ]
        ]
    },
    {
        "id": "262e1b80.5442a4",
        "type": "ui_switch",
        "z": "e856e9c1.0524c8",
        "g": "a3047255.3433d",
        "name": "",
        "label": "Enable Seismic Activity charting",
        "tooltip": "",
        "group": "dedf708b.15aeb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "cb7d5d5d.95be18"
            ]
        ]
    },
    {
        "id": "cb7d5d5d.95be18",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "a3047255.3433d",
        "name": "Graph Activity",
        "rules": [
            {
                "t": "set",
                "p": "graphactivity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "641c6b50.77a6bc"
            ]
        ]
    },
    {
        "id": "641c6b50.77a6bc",
        "type": "debug",
        "z": "e856e9c1.0524c8",
        "g": "a3047255.3433d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "288ce970.5525e6",
        "type": "switch",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "Plot Sensor Activity",
        "property": "graphactivity",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "51d560af.0a4f1"
            ]
        ]
    },
    {
        "id": "acd6904b.2dae3",
        "type": "comment",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "Load List of Sensors",
        "info": "",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ae89955.cc41e6",
        "type": "comment",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "Select a sensor to plot",
        "info": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "cfc16094.46cac",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SelectedSensor",
                "pt": "flow",
                "to": "payload.device_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "29d27bdb.5634bc",
                "87c3ebdc.9b617"
            ]
        ]
    },
    {
        "id": "29d27bdb.5634bc",
        "type": "debug",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.device_id",
        "targetType": "msg",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "128ccc92.5b0fab",
        "type": "split",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "cb7e8e0b.94b308"
            ]
        ]
    },
    {
        "id": "f2dc663f.1ba9b",
        "type": "split",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 930,
        "y": 520,
        "wires": [
            [
                "a9690ee1.136aa"
            ]
        ]
    },
    {
        "id": "87c3ebdc.9b617",
        "type": "ui_text",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "group": "dedf708b.15aeb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected sensor :",
        "format": "{{msg.payload.device_id}}",
        "layout": "row-spread",
        "x": 1210,
        "y": 240,
        "wires": []
    },
    {
        "id": "74a17c81.c71084",
        "type": "switch",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "Did Selected Sensor Change",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "SelectedSensor",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "dda2f005.20608",
                "cfc16094.46cac"
            ]
        ]
    },
    {
        "id": "dda2f005.20608",
        "type": "change",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "Zero Graphs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "8c7a5e60.a4f4e",
                "6bc83f46.58cd",
                "63ef1939.f883d8"
            ]
        ]
    },
    {
        "id": "a9690ee1.136aa",
        "type": "delay",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "pauseType": "rate",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "15",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "milliseconds",
        "drop": true,
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "63ef1939.f883d8"
            ]
        ]
    },
    {
        "id": "cb7e8e0b.94b308",
        "type": "delay",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "pauseType": "rate",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "15",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "milliseconds",
        "drop": true,
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "6bc83f46.58cd"
            ]
        ]
    },
    {
        "id": "9239cd5b.9b03b8",
        "type": "delay",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "",
        "pauseType": "rate",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "15",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "milliseconds",
        "drop": true,
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "8c7a5e60.a4f4e"
            ]
        ]
    },
    {
        "id": "d0968cb6.5cf5d8",
        "type": "inject",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "b486ec08.7786d8"
            ]
        ]
    },
    {
        "id": "eda9cf37.ed9908",
        "type": "comment",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "MQTT feed of all sensors",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "77ab4383.5d2104",
        "type": "comment",
        "z": "e856e9c1.0524c8",
        "g": "8601e458.9e3b18",
        "name": "Split / rate limit subsecond accelerometer data",
        "info": "",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "b486ec08.7786d8",
        "type": "template",
        "z": "e856e9c1.0524c8",
        "g": "8048369b.45cb68",
        "name": "Sensor Locations",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "device_id,lat,lon,location\nmx001,15.67,-96.5,Costa central de Oaxaca\nmx002,15.86,-97.07,Puerto Escondido Oaxaca\nmx004,16.35,-98.05,Pinotepa Nacional Oaxaca\nmx005,16.44,-95.02,Juchitan Oaxaca\nmx006,16.68,-98.4,Limite Guerrero Oaxaca\nmx007,16.32,-95.24,Tehuantepec Oaxaca\nmx008,16.61,-98.98,Costa Chica Guerrero\nmx009,16.72,-99.12,Costa Chica Guerrero\nmx010,16.79,-99.39,Costa Chica Guerrero\nmx011,16.84,-99.9,Acapulco Guerrero\nmx012,16.36,-94.19,Limite Oaxaca Chiapas\nmx013,16.36,-94.19,Limite Oaxaca Chiapas\nmx014,16.87,-99.89,Acapulco Guerrero\nmx015,17.01,-100.09,Costa Grande Guerrero\nmx016,16.01,-97.45,Costa central de Oaxaca\nmx017,17.23,-100.63,Costa Grande Guerrero\nmx018,17.26,-100.88,Costa Grande Guerrero\nmx019,17.27,-101.05,Costa Grande Guerrero\nmx020,17.54,-101.28,Costa Grande Guerrero\nmx021,17.64,-101.48,Zihuatanaejo Guerrero\nmx022,17.64,-101.57,Zihuatanaejo Guerrero\nmx023,17.65,-101.55,Zihuatanaejo Guerrero\nmx024,17.98,-101.81,Costa Grande Guerrero limite con Michoacan\nmx026,18.72,-98.78,Jantetelco\nmx027,19.05,-98.27,Cholula\nmx029,18.96,-99.24,Cuernavaca\nmx999,16.01,-97.45,Costa central de Oaxaca\n3ef3d787af85,17.962568,-66.579812,Ponce Puerto Rico\ndb0f06aa9270,18.3953495,-66.1547988,Bayamón Puerto Rico",
        "output": "str",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "ca8974a0.11e69"
            ]
        ]
    },
    {
        "id": "e920ac54.26bcf8",
        "type": "ui_group",
        "z": "",
        "name": "Graph",
        "tab": "8babad6f.576578",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "dedf708b.15aeb8",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "8babad6f.576578",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "8babad6f.576578",
        "type": "ui_tab",
        "z": "",
        "name": "OpenEEW Seismic Activity",
        "icon": "fa-line-chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
